<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
   <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />
   <title>To Do App</title>
</head>
<body>
   <div class="container">
         <form action="/" method="post">
            <div class="input-group">
               {{ form.csrf_token }}
               {{ form.title(class="submit-field", placeholder='New Item') }}
               {{ form.submit(class="add-btn btn") }}
            </div>
         </form>
      
      {% for task in tasks %}
         <p>{{ task.title }}</p>
         <div class="update-form">
            <div>
               <form action="./update" method="POST">
                  <input class="form-update" type="hidden" value="{{ task.title }}" name="oldTask">
                  <input class="form-update" type="text" value="{{ task.title }}" name="newTask">
                  <input class="update" type="submit" value="update">
               </form>
            </div>
            <div>
               <form action="./delete" method="POST">
                  <input type="hidden" value="{{ task.title }}" name="task">
                  <input class="delete" type="submit" value="Delete">
               </form>
            </div>
         </div>
      {% endfor %}
   </div>
</body>
</html>